<h2>YOU LOST!</h2>

<style>
body {
  background: #DC143C;
}
</style>

  <p>The word was <%= session["game"].word %></p>
  <p>Incorrect Guesses:  <%= session["game"].show_misses%> </p>
  <form action='/new'>
    <button type='submit'>New game</button>
  </form>
