<h2>CONGRATULATIONS! YOU WON!</h2>

<style>
body {
  background: #1E90FF;
}
button:hover {
  background-color: #DC143C;
}
</style>

  <p>The word is <u><%= session["game"].word %></u></p>
  <p>Incorrect Guesses:  <%= session["game"].show_misses%> </p>
  <form action='/new'>
    <button type='submit'>New game</button>
  </form>
